.home-container {
    padding: 20px;
    height: 91vh;
    .home-content{
        display: flex;
        padding: 20px;
        .home-content__left{
            flex:1;
            color: #04364A;
            margin: auto;
            .title-home{
                font-size: 3rem;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .description{
                margin-bottom: 40px;
            }
            .home-btn{
                border: 2px solid #04364A;
                transition: .3s;
                padding: 0.5rem 4rem;
            }
            .home-btn:hover{
                background-color: #04364A;
                color: #fff;
            }
        }
        .home-content__right{
            width: 450px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .icon-contact{
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px #7f7f7f;
        .icon{
            font-size: 60px;
            color: #65A0D4
        }
    }
}